body {
  background: url(../img/back.jpg) no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.title {
  font: calc(5vw + 20px) 'Open Sans', sans-serif;
  color: #ffcc00;
}
.container {
  background-color: #fff;
  width: 90vw;
  height: 100px;
}